<div>
    <input [(ngModel)]="searchQuery" type="text" placeholder="Search by title" />
    <button (click)="onSearch()">Search</button>
    <ul>
        <li *ngFor="let story of stories()">
            <ng-container *ngIf="story.url; else noUrl">
                <a [href]="story.url" target="_blank">{{story.title}}</a>
            </ng-container>
            <ng-template #noUrl>
                {{story.title}} (No URL available)
            </ng-template>
        </li>
    </ul>
    <div>
        <button [disabled]="currentPage() === 1" (click)="onPageChange(currentPage() - 1)">Previous</button>
        <span>Page {{currentPage()}} of {{totalPages()}}</span>
        <button [disabled]="currentPage() >= totalPages()" (click)="onPageChange(currentPage() + 1)">Next</button>
    </div>
</div>